{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
</head>
<body>
{% include "menubar.html" %}
<h1 class="h1">Bienvenido.</h1>

<h1 class="h1">Contacto</h1>

<form action="/contacto/" method="POST"> {% csrf_token %}
    <p>Asunto: <input name="asunto" type="text"></p>
    <p>Email: <input name="email " type="email"></p>
    <p>Mensaje: <textarea name="mensaje" rows="15" cols="45"></textarea></p>
    <input type="submit" value="Enviar">


</form>

</body>
</html>