<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "menubar.html" %}
    <title>Listado de Dichos Politicos</title>
</head>
<body>

<h1> Listado de Dichos Politicos</h1>
{% for listado in dichos %}
    {{ listado.author }}
    {{ listado.recognized_text }}
{% endfor %}

<table>
    <thead>
    <tr>
        <th>Autor</th>
        <th>Dicho</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>


</body>
</html>