{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
</head>
<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <form action="/index" method="get">
        <input class="btn-primary" type="submit" value="Home">
    </form>
    <form action="/vozATexto" method="get">
        <input class="btn-primary" type="submit" value="Convertir audio">
    </form>

    <form action="/listado" method="get">
        <input class="btn-primary" type="submit" value="Listado de Dichos Politicos">
    </form>

    <form action="/acerca" method="get">
        <input class="btn-primary" type="submit" value="Acerca de">
    </form>

    <form action="/contacto" method="get">
        <input class="btn-primary" type="submit" value="Contacto">
    </form>

</nav>


</body>
</html>